@import './variables';
@import './mixins';
@import 'reset.css';

.big{font-size: 20px;}
.medium{font-size: 18px;}
.text{font-size: 16px;}
.small{font-size: 14px;}
.mini{font-size: 12px;}
.bb{font-weight: bolder;}
.b{font-weight: bold;}
.sb{font-weight: 600;}
.mb{font-weight: 500;}
.n{font-weight: 400;}

.body_wrap{
    min-height: 100dvh;
}

.datewhether_section{
    height: 100dvh; position: relative; z-index: 1;
}
.todo_section{
    min-height: 100dvh; position: relative; z-index: 2;
}

section > div{
  display: flex; flex-direction: column; align-items: center; gap: 20px; padding: 16dvh 0 !important; height: 100%; color: #fff; font-family: $mainFont; line-height: 1;
  @media all and (max-width: 480px){padding: 12dvh 0 !important;}
}
.datewhether_content{justify-content: center;}
.todo_content{
  display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; width: 40%;
  @media all and (max-width: 1280px){width: 50%;}
  @media all and (max-width: 1024px){width: 60%;}
  @media all and (max-width: 840px){width: 80%;}
  @media all and (max-width: 480px){width: calc(100% - 32px);}
}

.move_btn{
    display: flex; align-items: center; justify-content: center; gap: 12px; margin-top: 20px; font-size: 20px; font-family: $mainFont; color: #fff; cursor: pointer; text-shadow: $shadow-strong;
    span{animation: bounce 1.2s infinite; }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(-4px);
    animation-timing-function: ease-in-out;
  }
}