.filter_box {
  position: relative; z-index: 2;
  > button {
    width: 120px;
    height: 40px;
    padding: 0 $space-sm;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    background: $bgWhite;
    border: 1px solid $white;
    border-radius: $radius-sm;
    font-family: $mainFont;
    cursor: pointer;
    transition: $transition-fast;
    &:hover {
      background: rgba(255,255,255,0.3);
    }
  }
  ul {
    position: absolute;
    top: 44px;
    width: 120px;
    background: rgba(255,255,255,1);
    border-radius: $radius-sm;
    overflow: hidden;
    box-shadow: $shadow-soft;
    z-index: 1;
    li button {
      width: 100%;
      padding: $space-sm;
      text-align: left;
      background: $white;
      color: $black;
      font-family: $mainFont;
      cursor: pointer;

      &:hover {
        background: #eee;
      }
    }
  }
  @media (max-width: 480px) {
    width: 100%;
    > button,
    ul {
      width: 100%;
    }
  }
}
