@import 'reset.css';

// opensans : font-family: "Open Sans", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
//special gothic : font-family: "Special Gothic Expanded One", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
// press start : font-family: "Press Start 2P", system-ui;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
// unbounded : font-family: "Unbounded", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
// poiret one : font-family: "Poiret One", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
// korna : font-family: "Krona One", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.body_wrap{
    min-height: 100dvh;
}

.datewhether_section{
    height: 100dvh; position: relative; z-index: 1;
}

.todo_section{
    min-height: 100dvh; position: relative; z-index: 2;
}

.move_btn{
    display: flex; align-items: center; justify-content: center; gap: 12px; margin-top: 20px; font-size: 20px; font-family: "Poiret One", sans-serif; color: #fff; cursor: pointer; text-shadow: $shadow;
    span{animation: bounce 1.2s infinite; }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(-4px);
    animation-timing-function: ease-in-out;
  }
}